name: Generate SoH Archive

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Generate SoH archive
      run: |
        cd data
        find . -type f -name '*.ootrs' | while read filename; do unzip -o -d "./Music/`basename -s .ootrs "$filename"`" "$filename"; done;
        wget https://github.com/leggettc18/SequenceOTRizer/releases/download/v0.4/SequenceOTRizer-0.2-Linux.tar.gz
        tar -xzvf SequenceOTRizer-0.2-Linux.tar.gz
        ./SequenceOTRizer --seq-path Music --otr-name ganondorfsorgan

    - name: Upload generated ganondorfsorgan.otr
      uses: actions/upload-artifact@v4
      with:
        name: ganondorfsorgan.otr
        path: data/mods

    - name: List all releases
      run: |
        releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/${{ github.repository }}/releases)
        echo "$releases" | jq -r '.[].id' > release_ids.txt
    
    - name: Delete all releases
      run: |
        while IFS= read -r release_id; do
          curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases/$release_id
        done < release_ids.txt
  

    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: latest
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: data/mods/ganondorfsorgan.otr
        tag_name: latest
        name: Ship of Harkinian Bundle